#intro .carousel-caption-center p {
  color: black;
}

#intro .carousel-caption-center h1 {
  color: black;
}

#team .page-header {
    padding-bottom: 0;
    margin: 80px 0 0;
}

#team .col-sm-offset-1 {
margin-left: 2%;
}